{% extends 'market/base.jinja2' %}

{% block middle %}
    <div>
        {% for inf_shop in shop %}
            <p>{% trans %}Имя{% endtrans %}: {{ inf_shop.user.username}}</p>
            <p>{% trans %}Магазин{% endtrans %}: {{ inf_shop.name }}</p>
        <div>
            <p>{% trans %}Телефон{% endtrans %}: {{ inf_shop.phone_number }}</p>
            <p>Email: {{ inf_shop.email }}</p>
        {% endfor %}
        </div>
    </div>
{% endblock %}