{% extends 'market/base.jinja2' %}
{% block middle %}
<h1>{% trans %}Детали импорта{% endtrans %}</h1>
<ul>
  <li>{% trans %}Имя файла{% endtrans %}: {{ object.source }}</li>
  <li>{% trans %}Дата и время запуска{% endtrans %}: {{ start_time }}</li>
  <li>{% trans %}Дата и время окончания{% endtrans %}: {{ end_time }}</li>
  <li>{% trans %}Статус{% endtrans %}: {{ status }}</li>
  <li>{% trans %}Результат{% endtrans %}: {{ task_result }}</li>
  {% if object.errors %}
  <li>{% trans %}Ошибки{% endtrans %}:</li>
  <ul>
    {% for error in object.errors %}
    <li>{{ error }}</li>
    {% endfor %}
  </ul>
  {% endif %}
</ul>
{% endblock %}
