<div class="Section-column">
    <div class="Section-columnSection Section-columnSection_mark">
      <header class="Section-columnHeader">
        <strong class="Section-columnTitle">{% trans %}предложение дня{% endtrans %}
        </strong>
      </header>
      <div class="Card">
        <a class="Card-picture" href="{{ url('products:product_detail' ,product_id=limited_product.pk) }}">
          <img src="{{ limited_product.preview.url }}" alt="{{ limited_product.preview.name }}"/>
        </a>
        <div class="Card-content">
          <strong class="Card-title">
            <a href="{{ url('products:product_detail' ,product_id=limited_product.pk) }}">
                {{ limited_product.description }}</a>
          </strong>
          <div class="Card-description">
            <div class="Card-cost">
{#                Вывести цены со скидкой и без скидки#}
              <span class="Card-priceOld">$115.00</span>
              <span class="Card-price">$85.00</span>
            </div>
            <div class="Card-category">{{ limited_product.category.name }}
            </div>
          </div>
            <div id="countdown-timer"></div>
{#        Вывести дату#}
          <div class="CountDown" data-date="31.09.2020 19:09">
            <div class="CountDown-block">
              <div class="CountDown-wrap">
                <div class="CountDown-days">
                </div><span class="CountDown-label">{% trans %}Дни{% endtrans %}</span>
              </div>
            </div>
            <div class="CountDown-block">
              <div class="CountDown-wrap">
                <div class="CountDown-hours">
                </div><span class="CountDown-label">{% trans %}часы{% endtrans %}</span>
              </div>
            </div>
            <div class="CountDown-block">
              <div class="CountDown-wrap">
                <div class="CountDown-minutes">
                </div><span class="CountDown-label">{% trans %}минуты{% endtrans %}</span>
              </div>
            </div>
            <div class="CountDown-block">
              <div class="CountDown-wrap">
                <div class="CountDown-secs">
                </div><span class="CountDown-label">{% trans %}секунды{% endtrans %}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>