{% block sripts %}
<script src="{{ static('/market/assets/plg/jQuery/jquery-3.5.0.slim.min.js') }}"></script>
<script src="{{ static('/market/assets/plg/form/jquery.form.js') }}"></script>
<script src="{{ static('/market/assets/plg/form/jquery.maskedinput.min.js') }}"></script>
<script src="{{ static('/market/assets/plg/range/ion.rangeSlider.min.js') }}"></script>
<script src="{{ static('/market/assets/plg/Slider/slick.min.js') }}"></script>
<script src="{{ static('/market/assets/js/scripts.js') }}"></script>
{% endblock %}