{% extends 'market/base.jinja2' %}

{% block middle %}
<div class="wrapper">
    <div class="header">
        <h3 class="sign-in">{% trans %}Восстановление пароля{% endtrans %} </h3>
        <h5>{% trans %}Введите email пользователя{% endtrans %}</h5>
    </div>

    <form method="post">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        {% if form.errors %}
            {% for field, messages in form.errors.items() %}
                <p class="error-message">{{ messages }}</p>
            {% endfor %}
        {% endif %}
        <div>
           <input class="user-input" type="email" name="{{form.email.name}}" id="email.id" placeholder="{{form.email.label}}" />
        </div>
        <div>
            <input type="submit" value="{% trans %}Отправить новый пароль на email.{% endtrans %}" />
        </div>
        {% if request.GET.success_message %}
            <div class="alert alert-success">
        {{ request.GET.success_message }}
        {% endif %}
        </div>
    </form>
</div>

{% endblock %}